@media screen and (max-width: 700px) {
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12pt;
        margin: 0;
    }
    
    #logo{
        width: 100%;
        height: 2rem;
        background-color: black;
    }
    
    /*main 1*/
    #main1{
        height: 100vh;
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    
    #text-main-1{
        width: 90%;
        height: 50px;
        margin: auto;
        text-align: center;
        
    }
    
    #pcolor{
        color:  rgb(110, 147, 74);
        font-weight: 100;
        font-size: 12pt;
    }
    
    .button-p{
        background-color: rgb(110, 147, 74);
        color: #fff;
        padding: 10px;
        margin: 8px;
        height: 60px;
        font-weight: 200;
        border-radius: 5px;
    }

    a{
        font-size: 12pt;

    }
    
    /*Main 2 - formulario*/
    #main2{
        height: 200vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    #img{
        width: 100%;
        height: 100vh;
        background-color: chartreuse;
    
    }
    
    #main-formulario{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    #main-formulario #pcolor{
        font-size: 12pt;
        font-weight: 200;
    }
    
    #main-formulario input {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20px;
        margin: 5px;
        border: solid 1px rgb(170, 162, 162);
        padding: 10px;
    }
    
    #form-titulo{
        font-size: 20pt;
        margin: 5px;
        padding: 5px;
        font-weight: 600;
    }
    

    
    /*Main 3 */
    #main3{
        width: 100%;
        height:  200vh;
        display: flex;
        flex-direction: column;
    }
    
    #main3 p span{
        font-size: 15pt;
    }
    
    #text-main-3{
        width: 80%;
        height: 100vh;
        line-height: 2;
        padding: 5vh;
        margin: 10px;
        font-size: 12pt;
        gap: 20px;
    }
    
    #main3 #img {
        width: 100%;
        height: 100vh;
        background-color: chartreuse;
    }
    
    /*Main 4*/
    #main4{
        height: 90vh;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    #text-main-4{
        width: 90%;
    }
    
    #text-main-4 h2{
        margin: 5px;
        font-size: 15pt;
    }
    
    #text-main-4 p{
        margin: 10px;
        padding: 10px;
        margin-top: 10px;
    }
    
    /*Main 5*/
    #main5{
        height: 150vh;
        display: flex;
        flex-direction: row;
        font-size: 12pt;

    }
    
    
    #text-main-5{
        width: 70%;
        height: 60vh;
        padding: 3px;
        
        background-color: aliceblue;
        border-radius: 10px;
    }

    #text-main-5 h1{
        font-size: 15pt;
    }

    #text-main-5 p{
        font-size: 12pt;
    }
    
    #text-main-5  .button-P{
        width: 30%;
        font-size: 12pt;
    }
    
    /*Main 6*/
    #main6{
        height: 200vh;
        display: flex;
        flex-direction: column;
    }
    
    #comofun{
        margin-top: 10px;
        font-size: 25pt;
    }
    
    .cont{
        width: 70%;
        height: 30vh;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
    }
    
    .cont img{
        width: 10vh;
        height: 10vh;
    }
    
   
    
}